# build stuff
hanoi
*.o
*.a
*.tar.*

# profiling data
gmon.out

# random stuff
*.in
.deps
Makefile
config.h
config.log
config.status
stamp-h1

# Auto-tools stuff
build-aux
autom4te.cache
lib

# backups
*~
